.info {
    position: fixed;
    z-index: 10;

    top: 5rem;
    right: 0;

    width: 19rem;
    max-height: calc(80vh - 10rem);
    overflow-y: auto;

    box-sizing: border-box;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


