.chatroom {
    position: fixed;
    z-index: 10;
    /* background-color: white; */

    bottom: 30vh;
    left: 0;

    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}

.symbol {
    height: calc(3rem - 4px);
    width: calc(3rem - 4px);
    margin-right: 1rem;
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: 1.2rem;
    box-sizing: border-box;
    box-shadow: var(--shadow);
    transition: all 300ms ease-out;
    cursor: pointer;
}

.red .symbol {
    color: #f5e1da;
    border: 2px solid #f5e1da;
}
.red .symbol:hover,
.red .symbol.spread {
    background-color: #f5e1da;
    color: white;
    border-color: white;
}

.yellow .symbol {
    color: #ffe194;
    border: 2px solid #ffe194;
}
.yellow .symbol:hover,
.yellow .symbol.spread {
    background-color: #ffe194;
    color: white;
    border-color: white;
}

.green .symbol {
    color: #c9e4c5;
    border: 2px solid #c9e4c5;
}
.green .symbol:hover,
.green .symbol.spread {
    background-color: #c9e4c5;
    color: white;
    border-color: white;
}

.blue .symbol {
    color: #d0e8f2;
    border: 2px solid #d0e8f2;
}
.blue .symbol:hover,
.blue .symbol.spread {
    background-color: #d0e8f2;
    color: white;
    border-color: white;
}

.inputContainer {
    height: 2rem;
    width: 13rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    overflow: hidden;
    transition: all 300ms ease-out;
    font-size: 0.9rem;
}
.channelTitle {
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 0.5rem;
    height: 1.6rem;
    line-height: 1.6rem;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.input {
    height: 2rem;
    color: #616365;
    width: 9rem;
    flex-grow: 1;
    font-size: 0.9rem;
    white-space: nowrap;
    box-sizing: border-box;
    padding-left: 0.5rem;
    line-height: 2rem;
    outline: none;
    background-color: transparent;
    border: none;
    overflow-x: auto;
}
.input::-webkit-scrollbar {
    display: none;
}
.input:focus {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: var(--shadow);
}

.popList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-height: 40vh;
    overflow-y: auto;
}
.popList::-webkit-scrollbar {
    display: none;
}
.pop {
    max-width: 10rem;
    width: fit-content;
    box-sizing: border-box;
    padding: 0.3rem 0.8rem;
    font-size: 0.9rem;
    border-radius: 1rem;
    line-height: 1.4rem;
    margin-bottom: 0.5rem;
    transition: all 300ms ease-out;
}
.pop.self {
    align-self: flex-end;
}

.pop.red {
    background-color: #f5e1da;
}
.pop.blue {
    background-color: #d0e8f2;
}
.pop.green {
    background-color: #c9e4c5;
}
.pop.yellow {
    background-color: #ffe194;
}

.pop.collapse,
.inputContainer.collapse {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
